
/* Forecast Styles */
#weather-forecast .wunderground-weather{
  margin: 0 0 10px 0;
  min-height: 80px;
  clear: both;
}
#weather-forecast .wunderground-weather .title{
  font-weight: bold;
}
#weather-forecast .wunderground-weather .icon img{
  float: left;
  margin: 0 10px 10px 0;
}

/* Satellite Styles */
#weather-satellite .wunderground-weather {
  display: inline-block;
}

/* Hourly Styles */
#weather-hourly .wunderground-weather{
  clear: both;
}
#weather-hourly .wunderground-weather .date{
  font-weight: bold;
}
#weather-hourly .wunderground-weather .condition{
  font-size: 11px;
  font-style: italic;
}
#weather-hourly .wunderground-weather .icon{
  float: left;
  margin: 0 10px 10px 0;
}
#weather-hourly .wunderground-weather .temp{
  font-size: 18pt;
}

/* Current Styles */
#current-weather .location{
  font-weight: bold; 
}