#wunderground-config #day-icons,
#wunderground-config #night-icons{
  margin: 0;
  padding: 0;
  clear: both;
}
#wunderground-config #day-icons li,
#wunderground-config #night-icons li{
  float: left;
  margin: 0 10px 10px 0;
  list-style-type: none;
}
#wunderground-config .form-item{
  clear: both;
}
.form-item-settings-wunderground-settings-dataselection{
  display: block !important;
}