{#
/**
 * @file
 * Default theme output for the current weather.
 *
 * Available Variables:
 * - weather
 *  - display_location_full
 *  - display_location_city
 *  - observation_location_full
 *  - observation_location_city
 *  - observation_time
 *  - icon
 *  - weather
 *  - temp
 *  - wind_string
 *  - wind_direction
 *  - wind_speed
 *  - wind_chill
 *  - dewpoint
 *  - feeslike
 *  - visibility
 *  - humidity
 */
#}

<div id="current-weather" class="wunderground-weather">

  <div class="location">{{ weather.display_location_full }}</div>
  <div class="icon"><img src="{{ weather.icon }}"></div>
  <div class="temperature">
    <label>Temperature</label>
    {{ weather.temp|upper }}
  </div>
  <div class="weather">
    <label>Current Weather</label>
    {{ weather.weather }}
  </div>
  <div class="wind">
    <label>Wind</label>
    {{ weather.wind_string }}
  </div>
  <div class="wind-chill">
    <label>Wind Chill</label>
    {{ weather.wind_chill|upper }}
  </div>
  <div class="dewpoint">
    <label>Dewpoint</label>
    {{ weather.dewpoint|upper }}
  </div>
  <div class="feelslike">
    <label>Feelslike</label>
    {{ weather.feelslike|upper }}
  </div>
  <div class="humidity">
    <label>Humidity</label>
    {{ weather.humidity|upper }}
  </div>
  <div class="visibility">
    <label>Visibility</label>
    {{ weather.visibility }}
  </div>
  <div class="updated">
    <label>Updated</label>
    {{ weather.observation_time|date("F jS \\a\\t g:ia") }}
  </div>

</div>
