{#
/**
 * @file
 * Default theme output for the current weather.
 *
 * Available variables:
 * - weather
 *  - data (image)
 */
#}

<div id="weather-satellite" class="wunderground-weather">

  {% for data in weather %}
    <div class="wunderground-weather">
      <div class="image"><img src="{{ data }}"></div>
    </div>
  {% endfor %}
  
</div>
