{#
/**
 * @file
 * Default theme output for the hourly weather.
 *
 * Available variables:
 * - weather
 *  - date
 *  - condition
 *  - icon
 *  - temp
 *  - description
 */
#}

<div id="weather-hourly" class="wunderground-weather">

  {% for data in weather %}
    <div class="wunderground-weather">
      <div class="date">{{ data.date_custom }}</div>
      <div class="condition">{{ data.condition }}</div>
      <div class="icon"><img src="{{ data.icon }}"></div>
      <div class="temp">{{ data.temp|upper }}</div>
      <div class="description">{{ data.desc }}</div>
      {# <div class="">{{ data.time }}</div> #}
    </div>
  {% endfor %}
  
</div>
