{#
/**
 * @file
 * Default theme output for the weather forecast.
 *
 * Available variables:
 * - weather
 *  - Title
 *  - Icon
 *  - Description
 */
#}

<div id="weather-forecast" class="wunderground-weather">

  {% for data in weather %}
    <div class="wunderground-weather">
      <div class="title">{{ data.title }}</div>
      <div class="icon"><img src="{{ data.icon }}"></div>
      <div class="desc">{{ data.desc }}</div>
    </div>
  {% endfor %}
  
</div>
